.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  
.NavbarContainer {
    background-color: rgb(37, 37, 37);
    width: 100%;
    padding: 0;
    list-style: none;
    margin-left: 0px;
    display: inline-block;
    text-align: center;
    align-items: center;
  }
  
  .NavbarLink {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
  }

  .NavbarLink:hover {
    color: rgb(0, 204, 255);
    text-decoration: none;
  }

  .ProductContainer {
    background-color: rgb(36, 36, 36);
    color: white;
    text-transform: uppercase;
  }

  .ProductFormContainer {
    margin: 30px;
    padding: 30px;
    background-color: rgb(36, 36, 36);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
    text-align: center;
  }

  .NewProductButton {
    justify-content: center;
    background: rgb(0, 195, 255);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 4px 14px;
    border-radius: 12px;
    border: 2px solid #ffffff;
    text-align: center;
    font-size: 28px;
    font-family: Verdana, Geneva, sans-serif;
    color: rgb(252, 252, 252);
  }

  .ProductContainer {
    padding: 20px;
    color: rgb(0, 204, 255);
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
  }
  
  .ProductForm button {
    color: #ffffff;
    background-color: rgb(0, 204, 255);
  }

  .ProductForm h5 {
    text-align: center;
    color: rgb(0, 204, 255);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: xx-large;
    padding-bottom: 10px;
    }

    .ProductImage {
        align-content: center;
        height: 200px;
        width: 400px;
      }